DEBUG=True

FLASK_APP=run.py
FLASK_ENV=development
CHAT_GPT_KEY=
MJ_KEY=
ELEVENLAB_KEY=
TW_CONSUMER_KEY=
TW_CONSUMER_SECRET=
TW_ACCESS_TOKEN=
TW_ACCESS_SECRET=

# SECRET_KEY=...        # edit value, (generated used if not provided)
# JWT_SECRET_KEY=...    # edit value, (generated used if not provided)

# GITHUB_CLIENT_ID=...  # edit value
# GITHUB_SECRET_KEY=... # edit value 

# If DB credentials (if NOT provided, or wrong values SQLite is used) 
DB_ENGINE=postgres
DB_HOST=localhost
DB_NAME=
DB_USERNAME=
DB_PASS=
DB_PORT=5432
